$bp-sm: 23.4375em;
$bp-lg: 90em;

$bg-primary: hsl(31, 77%, 52%);
$bg-secondary: hsl(184, 100%, 22%);
$bg-third: hsl(179, 100%, 13%);

$clr-paragraph: hsla(0, 0%, 100%, 0.75);
$clr-bghbtn: hsl(0, 0%, 95%);

$ff-primary-700: 'Big Shoulders Display', cursive;
$ff-secondary-400: 'Lexend Deca', sans-serif;
