/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h4,
button {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}
@media (min-width: 60rem) {
  .center {
    width: min(100% - 2rem, 90em);
    margin-inline: auto;
    padding: 0;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
  }
}

.orange {
  background: hsl(31deg, 77%, 52%);
}
.orange button {
  color: hsl(31deg, 77%, 52%);
}
.orange button:hover {
  background: hsl(31deg, 77%, 52%);
  border: 2px solid hsl(0deg, 0%, 95%);
  color: hsl(0deg, 0%, 95%);
}

.cyan {
  background: hsl(184deg, 100%, 22%);
}
.cyan button {
  color: hsl(184deg, 100%, 22%);
}
.cyan button:hover {
  background: hsl(184deg, 100%, 22%);
  border: 2px solid hsl(0deg, 0%, 95%);
  color: hsl(0deg, 0%, 95%);
}

.dcyan {
  background: hsl(179deg, 100%, 13%);
}
.dcyan button {
  color: hsl(179deg, 100%, 13%);
}
.dcyan button:hover {
  background: hsl(179deg, 100%, 13%);
  border: 2px solid hsl(0deg, 0%, 95%);
  color: hsl(0deg, 0%, 95%);
}

.card {
  width: min(100% - 2rem, 23.4375em);
  aspect-ratio: 6/9;
  color: hsla(0deg, 0%, 100%, 0.75);
  padding: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__ico {
  width: 3rem;
}
.card__title {
  padding: 1.3rem 0;
  color: hsl(0deg, 0%, 95%);
  font-size: 2rem;
}
.card__text {
  width: 26ch;
  line-height: 1.8;
}
.card__button {
  width: fit-content;
  border: 2px solid hsl(0deg, 0%, 95%);
  background-color: hsl(0deg, 0%, 95%);
  border: none;
  margin: 2rem 0 1rem 0;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}
.card:first-child {
  border-radius: 0.8rem 0.8rem 0 0;
}
@media (min-width: 60rem) {
  .card:first-child {
    border-radius: 0.8rem 0 0 0.8rem;
  }
}
.card:last-child {
  border-radius: 0 0 0.8rem 0.8rem;
}
@media (min-width: 60rem) {
  .card:last-child {
    border-radius: 0 0.8rem 0.8rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
